.nav-css{

  .container {
    width: 600px;
    margin: 30px 0;
    /*padding: 8px;*/
    background: #f1f1f1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    display: block;
    color: #333;
    padding: 8px 16px;
  }

  ul:after {
    content: "";
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }

  ul > li {
    float: left;
    position: relative;
  }

  a:hover {
    background: #ccc;
  }

  ol {
    width: 160px;
    color: #000;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  }

  li:hover ol {
    display: block;
  }
}