*{
  margin: 0;
  padding: 0;
}

body{
  padding: 0 30px 100px;
}

.clearfix:after {
  display: block;
  content: "";
  height: 0;
  visibility: hidden;
  clear: both;
}

@import "message.css";

@import "button-a";

@import "table";

@import "info-box";

@import "message-alert";

@import "info-sheet";

@import "nav-css";

